<a class="moment-card" href="{{ moment.url | relative_url }}" itemprop="blogMoments" itemscope="" itemtype="http://schema.org/BlogPosting">
  {% if moment.featured-img %}
  <figure class="moment-card__thumb">
    <img src="/assets/moments/{{moment.featured-img}}_placehold.jpg" class="{{moment.title}}" />
    <noscript><img src="{{site.url}}/assets/moments/{{moment.featured-img}}_thumb.jpg" alt="{{ moment.title }}"></noscript>
  </figure>
  {% else %}
  <figure class="moment-card__thumb">
    <div class="dark-bg"></div>
  </figure>
  {% endif %}
  <div class="moment-card__inner">
    <div class="moment-card__header">
      <h2>{{ moment.title | strip_html | truncate: 25 }}</h2>
      {% assign date_format = site.sleek.date_format | default: "%b %-d, %Y" %}
      <span class="moment-card__meta">
        <time>{{ moment.date | date: date_format }}</time>
      </span>
    </div>
    {% if moment.summary %}
      <p>{{ moment.summary | strip_html | truncatewords:20 }}</p>
    {% else %}
      <p>{{ moment.content | strip_html | truncatewords: 20 }}</p>
    {% endif %}
  </div>
</a>
